html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2rem;
}

body main .optionsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 0.1rem solid #c25e90;
  margin-bottom: 2rem;
  padding: 1rem 0;
}

body main .optionsContainer h4 {
  margin-top: 0;
}

body main .optionsContainer .sizeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1rem solid #5e65c2;
  width: 50%;
}

body main .optionsContainer .sizeContainer .gridSize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main .optionsContainer .colorContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1rem solid #bbc25e;
  width: 50%;
}

body main .optionsContainer .colorContainer .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main .optionsContainer .button {
  border: 0.1rem solid #c2865e;
  padding: 0.3rem 1.5rem;
  cursor: pointer;
  border-radius: 1rem;
}

body main .optionsContainer .button:hover {
  background-color: #5e65c2;
  color: white;
}

body main #pix-container {
  width: 800px;
  height: 800px;
}

.diezPixContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
}

.diezPix {
  border: 0.01rem solid #845EC2;
  width: 50px;
  height: 50px;
}

.diezPixOn {
  background-color: #845EC2;
  width: 50px;
  height: 50px;
}

.treintaPixContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[32];
      grid-template-columns: repeat(32, 1fr);
}

.treintaPix {
  border: 0.01rem solid #845EC2;
  width: 25px;
  height: 25px;
}

.treintaPixOn {
  background-color: #845EC2;
  width: 25px;
  height: 25px;
}

.sesentaPixContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[64];
      grid-template-columns: repeat(64, 1fr);
}

.sesentaPix {
  border: 0.01rem solid #845EC2;
  width: 12.5px;
  height: 12.5px;
}

.sesentaPixOn {
  background-color: #845EC2;
  width: 12.5px;
  height: 12.5px;
}
/*# sourceMappingURL=custom.css.map */